body {
  margin: 0;
  float: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-searchbar {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border: 2px solid red;
  min-height: 589px;
  /* background: url(./assets/Hero\ -\ Desktop.jpg) no-repeat center;
  background-size: 100% 220px; */
  max-width: min-content;
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  height: 220px;
  width: 100%;
}

.hero-container {
  padding-left: 30px;
  padding-bottom: 80px;
  text-align: left;
  color: white;
  border: 2px solid blue;
  background-color: #2b2d33;
}

.hero-container > h1 {
  font-size: 32px;
  font-weight: bold;
}

.hero-container > p {
  font-size: 20px;
}

.hero-container > p:nth-child(3) {
  text-decoration: underline;
}

.hero-container > h2 {
  font-size: 20px;
  font-weight: bold;
}

.search-container {
  width: 327px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.search-container > i {
  font-size: 20px;
  color: black;
}

.search-container > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 5px;
}

.hero-offer-tiles {
  position: absolute;
  left: 22%;
  top: 55%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
}

.icon-heading {
  display: flex;
  padding-bottom: 30px;
}

@media screen and (min-width: 1440px) {
  .hero-searchbar {
    min-height: 746px;
  }
  .hero-img {
    width: 1440px;
    height: 746px;
  }
  .hero-container {
    position: relative;
    margin-top: -600px;
    left: 10%;
    background-color: transparent;
  }

  .flex-container > div {
    flex: 1;
  }

  .flex-container {
    flex-basis: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 2px solid pink;
  }

}